@page "/expenses/edit/{expenseId:int}"
@using ExpenseTracker.Services
@rendermode InteractiveServer


@inject ExpenseService ExpenseService
@inject CategoryService CategoryService
@inject NavigationManager Navigation

<h3>Edit Expense</h3>

@if (expense == null || categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ExpenseForm Expense="expense" Categories="categories" OnValidSubmit="HandleValidSubmit" />
}

@code {
    [Parameter]
    public int expenseId { get; set; }

    private Expense expense;
    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = (await CategoryService.GetCategoriesAsync()).ToList();
        expense = await ExpenseService.GetExpenseByIdAsync(expenseId);
    }

    private async Task HandleValidSubmit()
    {
        await ExpenseService.UpdateExpenseAsync(expense);
        Navigation.NavigateTo("/expenses");
    }
}
